* {
  box-sizing: border-box; }

html {
    width: 100%;
    height: 100%; }
body{
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  padding: 0;
  height: 100%;
}

.page-content{
  padding-top: 90px;
}
.cv-home .page-content{
  padding-top: 0;
}
.hero{
  position: relative;
}
.hero_bg{
  background:center center/cover no-repeat;
}
.hero-title{
 border: 2px solid #000;
 padding: 20px;
 text-align: center;
}
.hero-title__title{
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
  margin: 0;
  padding: 0;
}
.hero-title__descr{

}
.hero-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)

}
.article{
  padding-bottom: 10px;
}
.articles__list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 1em 1em;
}
.articles__item{
  flex: 0 0 32.3%;
  margin: 0 1em 1em 0;
  list-style-type: none;
  height: 360px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  overflow: hidden;
}
.articles__body{
  padding: 15px;
  text-align: center;
}
.articles__header{
  height: 200px;
}
.articles__link {
  text-decoration: none;
  color: rgba(0,0,0,.76);
  display: inline-block;
  height: 100%;
  width: 100%;
}
.articles__link:hover{
  text-decoration: none;
  color: rgba(0,0,0,.86);
}
.articles__img{
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  display: block;
  height: 200px;
  text-align: center;
}
.section-title{
  font-size: 32px;
  text-align: center;
  margin: 4rem 0;
  font-family: 'Comfortaa', cursive;
}
.header_logo {
  flex-grow: 1;
}
.cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .skills {
    width: 50%;
    background: #fedbd7;
    padding: 3rem;
    text-align: right;
}
.educucation {
  width: 50%;
  color: #fff;
  background: #42454e;
  padding: 3rem;
}
.skills__list {
  
}
.skills__item {
  list-style-type: none;
}
.portfolio__img {
  display: block;
  height: 267px;
  width: 435px;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px 0;
}

.portfolio__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 1em 1em; }

.portfolio__item {
  list-style-type: none;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  background: #fedbd7;
  margin: 0 1em 1em 0;
  position: relative; }

.portfolio__title {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  text-align: center; }

.portfolio__subtitle {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  text-align: center;
  padding: 15px 0; }

.portfolio__subitem {
  list-style-type: disc;
  padding: 3px; }

.portfolio__content {
  padding: 25px; }

.portfolio__sublist {
  margin: 0 0 20px 15px; }

.portfolio__innerlink {
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline; }

.portfolio__link {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px; }
  .article__img{
    display: block;
    margin: 0 auto 20px auto;
    padding: 0;
    height: 350px;
    max-width: 100%;
  }

  .article__label {
    background: #fedbd7;
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: bold;
  }
  .article__text{
    padding: 20px 0;
  }
  .article__title{
    font-size: 32px;
    font-family: 'Comfortaa', cursive;
  }
  .articles__title{
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    margin: 0;
  }
  .articles__category{
    padding: 10px 0;
  }
  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.header_logo{
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  color: #42454e;
}
.nav__list{
  text-align: center;
  background: #fedbd7;
  padding: 0;
  margin: 0;
}
.nav__item{
  border-bottom: 1px solid #fff;
  transition: background .3s;
  padding: 0 40px;
  margin: 0;
  list-style-type: none;
}
.nav__item:hover {
  background: #42454e;
}
.nav__link{
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 23px;
  width: 100%;
  display: block;
  transition: color .3s;
  font-family: 'Comfortaa', cursive;
}
.social__list {
  margin: 0;
  padding: 0;
  display: flex;
}
.social__item{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social__link{
  text-decoration: none;
  display: block;
  margin: 0 5px;
}
header .social__svg svg{
  fill: #42454e;
}
.social__svg svg{
  fill: #fedbd7;
}
footer .social__svg svg:hover{
  fill: #fff;
}
header .social__svg svg:hover{
  fill:#fedbd7;
}

/* start прижать футер */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  text-align: center;
  
  background: #42454e;
  padding: 20px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
#root {
            height: 100%;
        }
.footer .social__list {
  justify-content: center;
}
.footer__policy{
  margin-top: 7px;
  color: #fff;
  font-family: 'Comfortaa', cursive;
}
.search__item{
  list-style-type: none;
}
.search-input{
  width: 100%;
  background: #fff;
  border: 1px solid #42454e;
  color: #cebfc4;
  padding: 10px 11px;
  outline: none;
  margin: 0 auto;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.form__input{
  width: 100%;
  background: #fff;
  border: 1px solid #42454e;
  color: #cebfc4;
  padding: 10px 11px;
  outline: none;
  margin: 0 auto 10px auto;
}
.formSubmit{
  display: inline-block;
  text-align: center;
  border: 1px solid #42454e;
  background: #fedbd7;
  color: #42454e;
  padding: 11px 15px;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
}
.formSubmit:hover{
  border: 1px solid #cebfc4;
  background: #fff;
  color: #cebfc4
}
.contacts{
  color: #42454e;
}
@media (max-width: 900px) {
  .article{
    padding: 0 10px;
  }
  .cv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .skills {
    width: auto;
    padding: 25px;
    text-align: left; }
  .educucation {
    width: auto;
    padding: 25px; }
  .portfolio__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%; }
  .footer__wrapper {
    padding: 0 10px;
    width: auto; }
  .contact-form {
    width: 100%;
    padding: 0 10px; } 
  .articles__list{
    flex-direction: column;
  }
  }
  @media(max-width: 540px){
    
    .header_logo{
      display: none;
    }
    .contacts{
      flex-grow: 1;
    }
    header .social__list{
      display: none;
    }
    .portfolio__img{
      width: 240px;
      height: 150px;
    }
    .portfolio__descr{
      text-align: center;
    }
  }